<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false">

	<testsuites>
		<testsuite name="CoreFramework">
			<directory suffix="Test.php">tests/</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="build/coverage" title="BankAccount" charset="UTF-8" yui="true" 
			highlight="true" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>

    <!--
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">App/Manager</directory>
			<directory suffix=".php">App/Models</directory>
			<directory suffix=".php">App/Modules</directory>
			<exclude>
				<directory suffix=".html.php">App/Modules</directory>
				<directory suffix=".json.php">App/Modules</directory>

				<directory suffix=".php">App/Manager/Directory</directory>
				<directory suffix=".php">App/Manager/Right</directory>

				<directory suffix=".php">App/Models/Directory</directory>
				<directory suffix=".php">App/Models/Right</directory>

				<directory suffix=".php">App/Modules/Files</directory>
				<directory suffix=".php">App/Modules/Index</directory>
				<directory suffix=".php">App/Modules/System</directory>
				<directory suffix=".php">App/Modules/Users</directory>

			</exclude>
		</whitelist>
	</filter>
    -->

</phpunit>
